* {
    font-family: Verdana, Arial, sans-serif;
    font-size: min(16px);
    letter-spacing: 0.35ch;
    word-spacing: letter-spacing * 3.5;
    line-height: word-spacing * 1.5;
}

i { 
    font-style: normal;
    font-weight: bold
}